language: c

os:
  - linux
  - osx

compiler:
  - clang
  - gcc

install:
  - if [ $TRAVIS_OS_NAME = osx ]; brew install pcre2; fi
  - if [ $TRAVIS_OS_NAME = linux ]; then sudo apt install cppcheck; else brew install cppcheck; fi

script:
  - cd $TRAVIS_BUILD_DIR/src && ./configure && make && make test
  - cppcheck ./ --enable=all -q
