name: CI
on:
  - push
  - pull_request
jobs:
  build:
    name: ${{ matrix.os }} / Python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
        python-version:
          - '3.6'
          - '3.7'
          - '3.8'
          - '3.9'
          - '3.10.4'
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install PCRE2
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: sudo apt-get install -y pcre2-utils

      - name: Install test dependencies
        run: pip3 install coveralls pytest-cov PyYAML psutil

      - name: Install ChromaTerm
        run: python3 setup.py install

      - name: PyTest
        run: pytest --cov chromaterm/ --cov tests/ --cov-report term-missing

      - name: Coveralls
        if: ${{ github.repository == 'hSaria/ChromaTerm' && github.event_name == 'push' }}
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_API_TOKEN }}
        run: coveralls
